.DS_Store
.env
.flaskenv
*.pyc
*.pyo
instance/
uploads/
cipr-venv/
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover