{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Create New IP</h1>
                <form method="POST" enctype="multipart/form-data" class="mt-3">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="{{ form.category.id }}">Category:</label>
                        {{ form.category(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.subcategory.id }}">Subcategory:</label>
                        {{ form.subcategory(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.short_description.id }}">Short Description:</label>
                        {{ form.short_description(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.elaborate_description.id }}">Elaborate Description:</label>
                        {{ form.elaborate_description(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.attachments.id }}">Attachments:</label>
                        {{ form.attachments(class="form-control", type="file", multiple="multiple") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}