{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-light">IP Detail</h1>
                <h2 class="h4 text-light">{{ ip.short_description }}</h2>
                <div class="card mt-3 bg-transparent text-light">
                    <div class="card-body">
                        <p><strong>Category:</strong> {{ ip.category }}</p>
                        <p><strong>Subcategory:</strong> {{ ip.subcategory }}</p>
                        <p><strong>Short Description:</strong> {{ ip.short_description }}</p>
                        <p><strong>Elaborate Description:</strong> {{ ip.elaborate_description }}</p>
                        <p><strong>Attachments:</strong></p>
                        <ul>
                            {% if ip.attachments %}
                                <li><a href="{{ url_for('download_attachment', ip_id=ip.id, attachment_index=0) }}" target="_blank">Attachment 1</a></li>
                            {% else %}
                                <li>No attachments.</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h4 text-light">Comments</h2>
                <div class="card mt-3 bg-transparent text-light">
                    <div class="card-body">
                        <ul>
                            {% if ip.comments %}
                                {% for comment in ip.comments %}
                                    <li>{{ comment.text }}</li>
                                {% endfor %}
                            {% else %}
                                <li>No comments.</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="h4 text-light">Add comment</h2>
                <div class="card mt-3 bg-transparent text-light">
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('add_comment', ip_id=ip.id) }}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <textarea name="comment_text" class="form-control" rows="4" placeholder="Add a comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-light">Add Comment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
